html,
body {
  width: 100%;
  height: 100%;
}

#panorama {
  /* width: 100vw;
  height: 100vh; */
}

.pnlm-hotspot.pnlm-info,
.operation1,
.operation2,
.operation3,
.operation4,
.operation5,
.operation6,
.operation7 {
  z-index: 999;
  background-image: none;
  width: 80px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  background-color: #2A60E7;
}

.pnlm-hotspot.pnlm-info:after,
.operation1:after,
.operation2:after,
.operation3:after,
.operation4:after,
.operation5:after,
.operation6:after,
.operation7:after {
  z-index: 999;
  content: '党团综合';
  color: #FFFFFF;
  font-size: 14px;
}

.operation2:after {
  content: '教学服务';
}

.operation3:after {
  content: '科研财务';
}

.operation4:after {
  content: '人事服务';
}

.operation5:after {
  content: '外事服务';
}

.operation6:after {
  content: '资产服务';
}

.operation7:after {
  content: 'IT服务';
}

.pnlm-hotspot.pnlm-scene {
  width: 36px;
  height: 36px;
  border: dashed 1px #777;
  background: none;
  border-radius: 50%;
}

.pnlm-hotspot.pnlm-scene:after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  background: url(../image/foot.png) center no-repeat / cover;
}


.right-top-menu {
  position: fixed;
  right: 20px;
  top: 20px;
  background: rgba(0, 0, 0, 0.7);
  width: 120px;
  border-radius: 2px;
}

.right-top-menu h2 {
  color: #FFFFFF;
  font-size: 17px;
  text-align: center;
  line-height: 32px;
  border-bottom: 1px solid #FFFFFF;
}

.right-top-menu li {
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.modal-underview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 80%;
  background: #FFFFFF;
  border-radius: 10px;
  /* overflow: hidden; */
}

.modal-content .icon-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  cursor: pointer;
}

.modal-content h2 {
  margin-top: -1px;
  font-size: 24px;
  height: 60px;
  width: 100%;
  line-height: 60px;
  text-align: center;
  background: #2a60e7;
  color: #FFFFFF;
  border-radius: 10px 10px 0 0;
}

.modal-content li {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-top: 1px solid #e5e5e5;
  line-height: 50px;
  align-items: center;
  font-size: 18px;
}

.modal-content li em {
  font-size: 14px;
}

.modal-content li .button {
  background: #2A60E7;
  color: #FFFFFF;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  padding: 0 5px;
}
